{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h1>Christopher Hanke</h1>
            <p>
                Ich bin 32 Jahre alt und wohne in NRW (D). Derzeit nehme ich an dem WebDevelopment Kurs von
                <a href="https://www.smartninja.org/">SmartNinja</a>
                teil, um dies zu lernen.
            </p>
            <p>
                Ansonsten bin ich auch gerne ruhig unterwegs, daheim oder draußen.
            </p>
        </div>
    </div>
{% endblock content %}
