<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Hello</title>

        <meta charset="UTF-8">
        <meta name="author" content="christopher hanke">
        <meta name="description" content="new web application as portfolio and information site">
        <meta name="keywords" content="portfolio, informationen, kontakt, christopher, hanke">

        <link rel="stylesheet" href="/static/standard/css/bootstrap.css" type="text/css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="/">Christopher</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if request.endpoint == "about" %} active {% endif %}" href="about">Über mich</a>
                    <a class="nav-item nav-link {% if request.endpoint == "portfolio" %} active {% endif %}" href="portfolio">Portfolio</a>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
           {% block content %}
           {% endblock content %}
        </div>


        <!-- JavaScript files -->
        <!-- bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="static/standard/js/bootstrap.js"></script>
    </body>
</html>