{% extends "base.html" %}

{% block content %}
            <div class="row">
                <div class="col-md-4">
                    <h1>Hallo</h1>
                    <p>
                        Dies ist meine Homepage mit der ich dich freundlich begrüßen möchte. Vielen Dank,
                        dass du hier vorbeischaust. Dies ist ein erstes WebApp-Projekt von mir.
                    </p>
                    <p>
                        Du findest hier Informationen zu mir und über meine bisherigen Projekte im Rahmen
                        meines Kurses zum Thema WebDevelopment bei
                        <a href="https://www.smartninja.org/" target="_blank">SmartNinja</a>.
                    </p>
                </div>
            </div>
{% endblock content %}