<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Hello</title>

        <meta charset="UTF-8">
        <meta name="author" content="christopher hanke">
        <meta name="description" content="new web application as portfolio and information site">
        <meta name="keywords" content="portfolio, informationen, kontakt, christopher, hanke">

        <link rel="stylesheet" href="/static/standard/css/bootstrap.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="/">Christopher</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="about">Über mich</a>
                    <a class="nav-item nav-link active" href="portfolio">Portfolio</a>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <div class="row">
                <div class="justify-content-center">
                    <h1>Portfolio</h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="fakebook">Fakebook</a>
                            </h5>
                            <p class="card-text">
                                Es sollte eine einfache Seite mit Daten zu mir erstellt werden, um ein erstes Gefühl für
                                HTML und CSS zu entwickeln. Die Seite sollte dabei noch keine besondere Funktionalität aufweisen.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                GitHub:
                                <a href="/">Fakebook by ChristopherHanke</a>
                            </small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="boogle">Boogle</a>
                            </h5>
                            <p class="card-text">
                                Die nächste Aufgabe war es ein MockUp einer bekannten Such-Seite zu erstellen.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                GitHub:
                                <a href="/">Boogle by ChristopherHanke</a>
                            </small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="hair">Hair-Salon</a>
                            </h5>
                            <p class="card-text">
                                Für einen fiktiven Frisörsalon oder Barbershop galt es eine ansehnliche Homepage mit Bootstrap
                                zu erstellen und einige Funktionalitäten von Bootstrap, wie z.B. Cards, Modal und Co. zu
                                verwenden. Dies sollte die Möglichkeiten einer statischen Webentwicklung verdeutlichen.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                GitHub:
                                <a href="/">Hair-Salon by ChristopherHanke</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- JavaScript files -->
        <!-- bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="static/standard/js/bootstrap.js"></script>
    </body>
</html>